# Go artifacts
*.o
*.a
*.so
*.exe
*.dll
bin/
csvquery
csvquery_darwin*
csvquery_linux*
csvquery_windows*

# PHP
vendor/
composer.lock

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store

# Tests & Coverage
*.prof
coverage.out
daemon.log
stderr.log
_updates.json
csvquery_meta.json

# Local / Temp
.env
*.tmp
*~
indexes/
test_data/
tmp/
